In [1]:
import pandas as pd

# Make sure the path to the CSV file is correct
csv_file_path = 'C:/dev/Output/Extended_Sample_Customer_Churn_Data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Show the first few rows of the DataFrame
df.head()

,Customer ID,Churn,Tenure,Number of Support Tickets,Customer Satisfaction Score,Product Usage Frequency,Recent Activity Score,Engagement Score,Age,Gender,...,Total Charges,Last Interaction,Number of Interactions,Data Usage,Feature Utilization,Upgrade/Downgrade Status,Cancellation Attempts,Average Resolution Time,Value Score,Product Performance Score
0,1,0,34,0,6,Monthly,0.982445,0.459961,63,Male,...,6102.76,308,40,441.81,No,Downgraded,1,8.84,1.755890,0.721295
1,2,1,14,6,6,Daily,0.068105,0.461049,28,Male,...,1297.87,177,12,25.88,Yes,No change,0,5.72,0.481992,6.514134
2,3,1,38,0,1,Monthly,0.779114,0.518413,44,Male,...,8142.75,299,62,181.98,Yes,Upgraded,1,9.61,2.953508,3.039929
3,4,0,28,8,7,Monthly,0.397499,0.501435,65,Female,...,4237.22,110,81,283.46,Yes,Downgraded,1,3.32,2.961311,3.366127
4,5,0,53,7,10,Daily,0.998298,0.186932,54,Female,...,2980.07,301,42,615.96,Yes,Downgraded,1,4.31,15.201850,8.371192